{
  "do": {
    "prefix": "do",
    "body": [
      "do",
      "  $0",
      "end"
    ],
    "description": "Too many things start with do, so we need a default so we don't make another snippet"
  },
}
